<div class="breadcrumb">
    <h1>Member</h1>
    <ul>
        <li>
            Profile
        </li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="card user-profile o-hidden mb-4">
    <div class="header-cover"></div>
    <div class="user-info">
        <!--<img class="profile-picture mb-2 center" src="assets/images/faces/user.jpg" alt="" width="1px" height="100px">-->
        <p class="center">Kevin Miguta</p>
        <div class="card-body">
            <ngb-tabset class="nav-center">
                <ngb-tab title="Summary">
                    <ng-template ngbTabContent>
                        <h4>Financial</h4>
                        <p>Summary
                        </p>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">Last Month Summary</div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col">Item</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Total Received</td>
                                                            <td class="font-weight-bold text-success">+ $1200</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Due</td>
                                                            <td class="font-weight-bold">In Stock</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Months in Membership</td>
                                                            <td class="text-danger font-weight-bold">Out of stock</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Member Since</td>
                                                            <td class="text-warning font-weight-bold">Low stock</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <div echarts [options]="chartPie1" [autoResize]="true"
                                                    style="height: 200px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="About">
                    <ng-template ngbTabContent>
                        <h4>Personal Information</h4>
                        <p>Details
                        </p>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Birth Date</p>
                                    <span>1 Jan, 1994</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Edit-Map text-16 mr-1"></i> Birth Place</p>
                                    <span>Dhaka, DB</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Lives In</p>
                                    <span>Dhaka, DB</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Gender</p>
                                    <span>1 Jan, 1994</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Email</p>
                                    <span>example@ui-lib.com</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Cloud-Weather text-16 mr-1"></i> Website
                                    </p>
                                    <span>www.ui-lib.com</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Face-Style-4 text-16 mr-1"></i> Profession
                                    </p>
                                    <span>Digital Marketer</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Professor text-16 mr-1"></i> Experience</p>
                                    <span>8 Years</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Home1 text-16 mr-1"></i> School</p>
                                    <span>School of Digital Marketing</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4>Other Info</h4>
                        <p class="mb-4"></p>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Transactions">
                    <ng-template ngbTabContent>
                        <div class="separator-breadcrumb border-top"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card o-hidden">
                                    <ngx-datatable style="height: calc(100vh - 270px); box-shadow: none"
                                        class="material fullscreen" [columnMode]="'force'" [headerHeight]="50"
                                        [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [limit]="10"
                                        [rows]="products$ | async">
                                        <ngx-datatable-column name="photo" [width]="80" [maxWidth]="100">
                                            <ng-template ngx-datatable-header-template>
                                                Thumbnail
                                            </ng-template>
                                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                <img height="32px" width="32px" style="border-radius: 4px" [src]="value"
                                                    alt="">
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="name" [width]="300">
                                            <ng-template ngx-datatable-header-template>
                                                Title
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="category">
                                            <ng-template ngx-datatable-header-template>
                                                Category
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="subtitle">
                                            <ng-template ngx-datatable-header-template>
                                                Description
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Requests">
                    <ng-template ngbTabContent>
                        <div class="row">

                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>